{% extends "base.html.twig" %}

{% block title %}{% endblock %}
{% block stylesheets %}{% endblock %}
{% block top %}
    <div class="container">
        <div class="text-end">
            <a href="{{ path('logout') }}">Se déconnecter</a>
        </div>
        <!-- titre -->
        <div class="text-center">
            <h1>Administration</h1>
        </div>
{% endblock %}
{% block body %}{% endblock %}
{% block footer %}
{% endblock %}
{% block javascripts %}{% endblock %}
