{% extends "base.html.twig" %}

{% block title %}{% endblock %}
{% block stylesheets %}{% endblock %}
{% block top %}
    <div class="container">
        <!-- titre -->
        <div class="text-center">
            <h1>Gestion des formations</h1>
        </div>
{% endblock %}
{% block body %}{% endblock %}
{% block footer %}
{% endblock %}
{% block javascripts %}{% endblock %}
